.status {
    margin-top: 20px;
    margin-bottom: 20px;
    /* width: 300px; */
}
.statusText span:hover {
    background-color: rgb(184, 184, 184);
    cursor: pointer;
}

.statusInput input {
    padding: 5px;
    border: 1px solid rgb(194, 194, 194);
}